ul.feature-list
  li.feature-list__feature
    img.feature-list__icon(
      src="/images/compass.svg"
      alt="find your direction in life"
    )
    h4.feature-list__heading Find Direction
    p.feature-list__description.
      Map out the path to a lifestyle you'll love.
  li.feature-list__feature
    img.feature-list__icon(
      src="/images/balance.svg"
      alt="find balance in work and life"
    )
    h4.feature-list__heading Find More Balance
    p.feature-list__description.
      Do more of what really matters to you.
  li.feature-list__feature
    img.feature-list__icon(
      src="/images/focus.svg"
      alt="find focus"
    )
    h4.feature-list__heading Find Your Focus
    p.feature-list__description.
      Contribute your most valuable work to the world.
