-
  var modules = [
    {
      week: '',
      image: '/images/refocus_mod1.jpg',
      srcset: '/images/refocus_mod1.jpg 1x, /images/refocus_mod1@2x.jpg 2x',
      module: 'Module 1',
      title: 'Take Control',
      subtitle: 'How to Find Direction and Clarify Your Purpose in Life',
    },
    {
      week: '',
      image: '/images/refocus_mod2.jpg',
      srcset: '/images/refocus_mod2.jpg 1x, /images/refocus_mod2@2x.jpg 2x',
      module: 'Module 2',
      title: 'Do Work You Love',
      subtitle: 'Reach Your Full Potential by Leveraging Skills You <em>Already Have</em>',
    },
    {
      week: '',
      image: '/images/refocus_mod3.jpg',
      srcset: '/images/refocus_mod3.jpg 1x, /images/refocus_mod3@2x.jpg 2x',
      module: 'Module 3',
      title: 'Own Your Time',
      subtitle: 'How To Find More Balance and Stop Feeling So Overwhelmed',
    },
    {
      week: '',
      image: '/images/refocus_mod4.jpg',
      srcset: '/images/refocus_mod4.jpg 1x, /images/refocus_mod4@2x.jpg 2x',
      module: 'Module 4',
      title: 'Get Focused',
      subtitle: 'How To Beat Procrastination, Choose Your Best Idea, and <em>Start</em>',
    },
    {
      week: '',
      image: '/images/refocus_mod5.jpg',
      srcset: '/images/refocus_mod5.jpg 1x, /images/refocus_mod5@2x.jpg 2x',
      module: 'Module 5',
      title: 'Finish What You Start',
      subtitle: 'How To Turn Big Ideas Into Things You’ll Actually Do',
    },
    {
      week: '',
      image: '/images/refocus_mod6.jpg',
      srcset: '/images/refocus_mod6.jpg 1x, /images/refocus_mod6@2x.jpg 2x',
      module: 'Module 6',
      title: 'Wake Up Excited',
      subtitle: 'How To Create a Killer Productivity Ritual and <em>Get Shit Done</em>',
    },
  ];
-
.modules
  ul.modules__list
    each module in modules
      -
        var alt = `${module.module}: ${module.title}`
      -
      li.modules__module
        p.modules__week= module.week
        img.modules__image(
          src= module.image
          srcset= module.srcset
          alt= alt
        )
        h4.modules__title
          != module.subtitle
