section.offer-box#get-the-system
  h2.offer-box__heading Yes! I want lifetime access to #[em Refocus].
  p.offer-box__price Special introductory price: 3 monthly payments of $197
  a.offer-box__button(
    href="https://system.getrefocus.com/offers/Sf9huMTg"
  ) Get Instant Access
  img.offer-box__credit-cards(
    src="/images/credit-cards.png"
    srcset="/images/credit-cards.png 1x, /images/credit-cards@2x.png 2x"
    alt="all major credit cards accepted"
  )
  img.offer-box__guarantee(
    src="/images/refocus_guarantee.svg"
    alt="60-day 100% money-back guarantee"
  )
  p.offer-box__alternate-option
    | (Or you can 
    a(
      href="https://system.getrefocus.com/offers/4qFio3kQ"
    ) save $94 by paying in full
    | .)
  p.offer-box__help For questions, email us at 
    a(href="mailto:support@getrefocus.com") support@getrefocus.com
    | .
